-@ val hits: scala.collection.mutable.Buffer[jp.webpay.sslack.Message]
- attributes("title") = "SSlack"
- import java.text.DateFormat
- import java.util.Locale
- import java.util.Date
- val df = DateFormat.getDateTimeInstance(DateFormat.LONG, DateFormat.SHORT, Locale.JAPANESE)

div.well
  form.form-inline(action="/" method="get" role="form")
    div.form-group
      label.sr-only(for="channel") Channel name
      input.form-control#channel(type="text" name="channel" placeholder="channel" value={params.getOrElse("channel", "")})
    div.form-group
      label.sr-only(for="user") User name
      input.form-control#user(type="text" name="user" placeholder="user" value={params.getOrElse("user", "")})
    div.form-group
      label.sr-only(for="query") Query
      input.form-control#query(type="text" name="q" placeholder="query" value={params.getOrElse("q", "")})
    input.btn.btn-default(type="submit" value="Search")

table.table
  tr
    th user
    th channel
    th text
    th time
  - for (hit <- hits)
    tr
      td= hit.user_name
      td= "#" + hit.channel_name
      td= hit.text
      td= df.format(hit.timestampAsDate)
